<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
<<<<<<< HEAD
  <title>My Recipe Box!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
=======
  <title>My Recipes</title>
  <link rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", integrity="undefined", crossorigin="anonymous">
>>>>>>> d2a0fa7463d4556b22c667bdfbf4fc1fc7f0ba64
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
@await Html.PartialAsync("Nav")
  <div>
  @RenderBody()

  </div>

</body>
</html>