@using System.Security.Claims

<div class="container" id="navbar">
  <div class="row">
    <div class="col-6">
      <p>@Html.ActionLink("Home", "Index", "Home")</p>
    </div>
    <div class="col-6">
      @if (User.Identity.IsAuthenticated)
      {
        <p>@User.Identity.Name!</p>
        @using (Html.BeginForm("LogOff", "Account"))
        {
          <input type="submit" class="btn btn-default" value="Log out" />
        }
      } else {
        <p>@Html.ActionLink("Create an account", "Index", "Account")</p>
      }
    </div>
  </div>
</div>