@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag;

<h4>Add a new Recipe:</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TagName)
  @Html.TextBoxFor(model => model.TagName)

  <input type="submit" value="Add New Tag" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all tags", "Index")</p>